*.aps
*.cache
*.deploy
*.dll
*.exe
*.exp
*.ilk
*.ipch
*.lnt
*.lph
*.obj
*.opensdf
*.pch
*.pdb
*.sdf
*.suo
*.user
*.vloptions
/Source/Application/Application_i.c
/Source/Application/Application_i.h
/Source/Application/Application_p.c
/Source/Main/DiffractorCOM.h
/Source/Main/Diffractor_i.c
/exe/Diffractor.Core.lib
/exe/Diffractor.Core64.lib
/exe/Diffractor.Core64D.lib
/exe/Diffractor.CoreD.lib
/exe/ShellExtensions.lib
/exe/ShellExtensions64.lib
/exe/ShellExtensions64D.lib
/exe/ShellExtensionsD.lib
/exe/_ReSharper.Diffractor/*
/ipch/*
Debug/
Lint/
intermediate/
Release/
_ReSharper.iw
*.sln.docstates
*.dotCover
/exe/regsvr32.trg
/Source/Main/ImageWalkerCOM.h
/Source/Main/ImageWalker_i.c
/Source/ShellExtensions/ShellExtensions.h
/Source/ShellExtensions/ShellExtensions_i.c
/Source/ShellExtensions/ShellExtensions_p.c