/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION RC_VERSION_RAW
 PRODUCTVERSION RC_VERSION_RAW
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x29L
#else
 FILEFLAGS 0x28L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "This program was written by Zac Walker"
            VALUE "CompanyName", "Zac Walker"
            VALUE "FileDescription", "ImageWalker Application"
            VALUE "FileVersion", RC_VERSION
            VALUE "InternalName", "ImageWalker"
            VALUE "LegalCopyright", "Copyright © Zac Walker 1998-2006"
            VALUE "LegalTrademarks", RC_VERSION
            VALUE "OriginalFilename", "ImageWalker.EXE"
            VALUE "PrivateBuild", RC_BUILD
            VALUE "ProductName", "ImageWalker Application"
            VALUE "ProductVersion", RC_VERSION
            VALUE "SpecialBuild", RC_BUILD
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


