
#define MAJOR_VERSION 2
#define MINOR_VERSION 31
#define BUILD_NUMBER -BUILD_NUMBER-

#define RC_VERSION "2, 0, 3, -BUILD_NUMBER-"
#define RC_VERSION_RAW 2,0,3,-BUILD_NUMBER-
#define RC_BUILD "Build -BUILD_NUMBER-"


